.project {
  display: flex;
  align-items: flex-start;
  gap: 25px;
  margin-bottom: 40px;
}

.project img {
  width: 320px;
  border-radius: 6px;
  object-fit: cover;
}

.project-text {
  flex: 1;
}

@media (max-width: 800px) {
  .project {
    flex-direction: column;
  }

  .project img {
    width: 100%;
  }
}
